@font-face {
    font-family: 'Gerhaus';
    src: url('../Font/gerhaus-vmmka.ttf');
}

@font-face {
    font-family: 'Satoshi';
    src: url('../Font/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../Font/SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: 'SF-SemiBold';
    src: url('../Font/SF-Compact-Text-Semibold.ttf');
}

@font-face {
    font-family: 'SF-Bold';
    src: url('../Font/SF-Pro-Text-Bold.otf');
}

@font-face {
    font-family: 'SF-Heavy';
    src: url('../Font/SF-Pro-Text-Heavy.otf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Header Start */

.btn-talk {
    border: none;
    width: 100px;
    padding: 5px 0px;
    background-color: #1E2976;
    /* transition: 0.5s; */

    border: 1px solid #1E2976;
}

.btn-talk a {
    font-size: 13px;
}

.btn-talk:hover {
    background-color: white;
    border: 1px solid #1E2976;
    box-shadow: 0px 4px 15px rgba(30, 41, 118, 0.3);
    transform: translateY(-2px);
} 

 .btn-talk:hover a {
    color: #1E2976 !important;
}

.header-menu {
    font-size: 16px;
    font-weight: 500;
    color: #1E2976;
    display: inline-block;
}




/* Header End */

/* Hero Section Start  */
.hero-section {
    padding: 4rem 0;
}

.hero-section h2 {
    padding: 0;
    margin: 0;
    color: #1E2976;
    font-weight: 400;
    font-family: 'Satoshi', sans-serif;
}

.hero-section h1 {
    padding: 0;
    margin: -10px 0 0 -5px;
    color: #1E2976;
    font-weight: normal;
    font-family: 'Gerhaus', sans-serif !important;
    line-height: 0.85;
    text-align: left;
    width: 100%;
    letter-spacing: -0.02em;
}
.hero-section h1  span,
.hero-section h3 span,
.hero-section p span{
    display: inline-block;
}
.hero-section h3 span{
    margin-right: 2px;
}
.hero-section h3 {
    font-size: 30px;
    margin-top: 50px;
    font-family: 'SF-SemiBold';
    font-weight: 700;
}

.hero-section .info {
    gap: 0 15px;
    margin-top: 8px;
}

.hero-section .info h6:nth-child(1) {
    background-color: #E9D5FF;
    font-size: 17px;
    font-family: 'SF-SemiBold';
    padding: 9px 16px;
    border-radius: 50px;
    color: #1E2875;
}

.hero-section .info h6:nth-child(2) {
    font-family: 'SF-SemiBold';
    font-size: 20px;

}

.hero-section .info h6:nth-child(3) {
    background-color: #1E2875;
    font-size: 17px;
    font-family: 'SF-SemiBold';
    padding: 9px 16px;
    border-radius: 50px;
    color: #FFFFFF;
}

.hero-section p {
    margin-top: 6px;
    font-size: 28px;
    font-family: "SF-Bold";
}

.hero-section .arrow {
    width: 52px;
    height: 52px;
    background-color: #1E2875;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.hero-section .arrow i {
    color: whitesmoke;
    font-size: 18px;
}

/* Hero Section End  */

/* About Section Start  */
.about .content h2 {
    font-family: 'Gerhaus', sans-serif !important;
    font-size: 100px;
    color: #1E2976;
    margin: 120px 0 88px 0;
}

.about .content p {
    font-size: 30px;
    color: #3544b8;
    font-family: "SF-SemiBold";
    margin-bottom: 180px;
}

/* About Section End  */

/* Work Section Start  */
.works .heading h2,
.design-env .heading h2 {
    font-size: 88px;
    font-family: 'Gerhaus', sans-serif !important;
    color: #1E2976;
}

.works .work-card {
    background: #090f37;
    padding: 16px;
    border-radius: 28px;
    overflow-x: hidden;
}

.works .work-card .card-body {
    padding-top: 20px;
}

.works .work-card .card-body .logo img {
    border-radius: 15px;
    padding: 5px;
}



.works .work-card .card-body .logo h3,
.works .work-card .card-body h5 {
    padding-left: 15px;
    font-size: 20px;
}

.works .card-footer {
    width: 100%;
}

.works .card-footer .marquee {
    margin-top: 20px;
    gap: 2vw;
    white-space: nowrap;
    /* transform: translateX(-100%); */
    animation: marquee 7s linear infinite;
}

.works .card-footer .marquee span {
    color: whitesmoke;
    display: inline-block;
}

.works .more {
    margin: 64px 0 120px 0;
}

.works .more a {
    font-size: 20px;
}

/* Work Section End  */

/* Service Start */

.service-container {
    background-image: url('../img/serviceimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.service-badge {
    background-color: lightgray;
    color: #1E2976;
    font-family: 'SF Pro Text';
    padding: 5px;
    font-weight: 700;
}

.service-text {
    color: rgb(1, 1, 59);
    font-family: 'SF Pro Text';
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}

.service-count {
    font-size: 50px;
    color: white;
    font-family: 'Gerhaus';
    font-weight: 900;
}

.service-title {
    font-size: 45px;
    color: white;
    font-family: 'Gerhaus';
    font-weight: 900;
    letter-spacing: 1.5px;
}

.service-description {
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: 'SF Pro Text';
}

/* Service End */

/* Design Environment Section Start  */
.design-env .heading h2{
    margin-bottom: 42px;
}
.hc svg {
    color: #3544b8;
}
.hcc svg {
    color: #3544b8;
}
.design-env .tools .gemini svg{
    width: 274px !important;
}
.design-env .tools .col-4 svg {
    width: 191px ;
}
.design-env .tools .col-3 {
    height: 100%;
}
.design-env .tools .col-3 svg {
    width: 75px !important;
}
.design-env .tools .hover{
    height: 191px;
    position: relative;
}
.hover::after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    background-color: #1E2875;
    width: 0%;
    height: 0%;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.4s ease-in;
    border-radius: 15px;
    box-shadow: 0px 10px 20px #1E2875;
}
.design-env .tools .hover:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.8s;
}

.hc{
    height: 100%;
    width: 100%;
}
.hcc{
    height: 50%;
    width: 50%;
}

.hover:hover .hc svg{
    color: white ;
    transition: all 0.8s ease-in;
}
.hover:hover .hcc svg{
    color: white ;
    transition: all 0.8s ease-in;
}

/* Design Environment Section End  */

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}