@media(max-width:575px) {
    .service-text {
        font-size: 18px !important;
    }

    .service-count {
        font-size: 30px !important;
    }

    .service-title {
        font-size: 30px !important;
    }

    .service-description {
        font-size: 20px !important;
        text-align: center;
    }

    .hero-section h1 {
        font-size: 80px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 20px;
    }
}

@media(min-width:576px) {
    .hero-section h1 {
        font-size: 120px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 45px;
    }
}

@media(min-width:768px) {
    .hero-section h1 {
        font-size: 160px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 45px;
    }
}

@media(min-width:992px) {
    .hero-section h1 {
        font-size: 180px;
    }

    .hero-section h2 {
        font-size: 60px;
    }
}

@media(min-width:1200px) {
    .hero-section h1 {
        font-size: 300px;
    }

    
}

@media(min-width:1400px) {}