@media(max-width:575px){
    .service-text{
        font-size: 18px !important;
    }
    .service-count{
        font-size: 40px !important;
    }
    .service-title{
        font-size: 40px !important;
    }
    .service-description{
        font-size: 20px !important;
        text-align: center;
    }
}
@media(min-width:576px){
    
}
@media(min-width:768px){
    
}
@media(min-width:992px){
    
}
@media(min-width:1200px){
    
}
@media(min-width:1400px){
    
}