@media(max-width:575px) {
    .service-text {
        font-size: 18px !important;
    }

    .service-count {
        font-size: 30px !important;
    }

    .service-title {
        font-size: 30px !important;
    }

    .service-description {
        font-size: 20px !important;
        text-align: center;
    }

    .hero-section h1 {
        font-size: 80px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 20px;
    }

    .p-s {
        font-size: 20px;
    }

    .p-s2 {
        font-size: 25px;
    }

    .raibox-text{
        font-size: 15px;
    }

    .raibox-des{
        font-size: 10px;
        font-weight: 300;
    }

    .rai{
        font-size: 22px;
    }
}

@media(min-width:576px) {
    .hero-section h1 {
        font-size: 120px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 45px;
    }

    .p-s {
        font-size: 25px;
    }
}

@media(min-width:768px) {
    .hero-section h1 {
        font-size: 160px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 45px;
    }

    .up-img-wrapper {
        margin-top: -60px;
    }

    .p-s {
        font-size: 25px;
    }

    .p-s2 {
        font-size: 30px;
    }
}

@media(min-width:992px) {
    .hero-section h1 {
        font-size: 180px;
    }

    .hero-section h2 {
        font-size: 60px;
    }

    .up-img-wrapper {
        margin-top: -75px;
    }

    .col-lg-2-5{
        width: 20%;
    }
}

@media(min-width:1200px) {
    .hero-section h1 {
        font-size: 270px;
    }
}

@media(min-width:1400px) {
    .hero-section h1 {
        font-size: 300px;
    }
}