/* XS XS XS XS XS XS XS XS XS XS XS XS */
@media(max-width:575px) {
    .service-text {
        font-size: 18px !important;
    }

    .service-count {
        font-size: 30px !important;
    }

    .service-title {
        font-size: 30px !important;
    }

    .service-description {
        font-size: 20px !important;
        text-align: center;
    }

    .hero-section h1 {
        font-size: 70px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 20px;
    }

    .p-s {
        font-size: 20px;
    }

    .p-s2 {
        font-size: 25px;
    }

    .raibox-text{
        font-size: 15px;
    }

    .raibox-des{
        font-size: 10px;
        font-weight: 300;
    }

    .rai{
        font-size: 22px;
    }

    .col-lg-2-5{
        width: 100%;
    }
    .design-env .heading h2{
        font-size: 45px;
    }
    .about .content h2{
        font-size: 70px;
    }
    .th{
        font-size: 40px;
    }
}
/* SM SM SM SM SM SM SM SM SM SM SM SM */
@media(min-width:576px) {
    .hero-section h1 {
        font-size: 120px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 45px;
    }

    .p-s {
        font-size: 25px;
    }

    .col-lg-2-5{
        width: 50%;
    }

    .lf-absoulte{
        position: absolute;
        top: 5%;
        left: 1%;
        font-size: 25px !important;
    }

    .lf-text-absoulte{
        position: absolute;
        top: 35%;
        left: 1%;
    }
    .hf-img-1{
        position: absolute;
        left: -25%;
        top: 34%;
        transform: scale(2.7);
    }
    .hf-img-2{
        position: absolute;
        right: -20%;
        bottom: 30%;
        transform: scale(2.7);
    }
    .hf-cont{
        height: 400px;
    }
    .hf-absolute{
        position: absolute;
        top: 2%;
        right: 23%;
        font-size: 15px !important;
        padding: 10px 10px !important;
    }
    .design-env .heading h2{
        font-size: 70px;
    }
    .hf-img-11{
        position: absolute;
        left: -25%;
        top: 30%;
        transform: scale(2.5);
    }
    .hf-img-22{
        position: absolute;
        right: -10%;
        bottom: 13%;
        transform: scale(2.5);
    }
}
/* MD MD MD MD MD MD MD MD MD MD MD MD */
@media(min-width:768px) {
    .hero-section h1 {
        font-size: 150px;
        text-align: center;
    }

    .hero-section h2 {
        font-size: 45px;
    }

    .up-img-wrapper {
        margin-top: -60px;
    }

    .p-s {
        font-size: 25px;
    }

    .p-s2 {
        font-size: 30px;
    }

    .col-lg-2-5{
        width: 25%;
    }

    .lf-absoulte{
        position: absolute;
        top: 5%;
        left: 1%;
        font-size: 35px !important;
    }

    .lf-text-absoulte{
        position: absolute;
        top: 50%;
        left: 1%;
    }

    .hf-img-1{
        position: absolute;
        left: -25%;
        top: 34%;
        transform: scale(2.7);
    }
    .hf-img-2{
        position: absolute;
        right: -20%;
        bottom: 30%;
        transform: scale(2.7);
    }
    .hf-cont{
        height: 500px;
    }
    .hf-absolute{
        position: absolute;
        top: 2%;
        right: 24%;
        font-size: 18px !important;
        padding: 10px 10px !important;
    }
    .design-env .heading h2{
        font-size: 88px;
    }
    .hf-img-11{
        position: absolute;
        left: -25%;
        top: 30%;
        transform: scale(2.5);
    }
    .hf-img-22{
        position: absolute;
        right: -10%;
        bottom: 13%;
        transform: scale(2.5);
    }
}
/* LG LG LG LG LG LG LG LG LG LG LG LG */
@media(min-width:992px) {
    .hero-section h1 {
        font-size: 180px;
    }

    .hero-section h2 {
        font-size: 60px;
    }

    .up-img-wrapper {
        margin-top: -75px;
    }

    .col-lg-2-5{
        width: 20%;
    }

    .lf-absoulte{
        position: absolute;
        top: 10%;
        left: 1%;
    }

    .lf-text-absoulte{
        position: absolute;
        top: 50%;
        left: 1%;
    }

    .hf-img-1{
        position: absolute;
        left: -25%;
        top: 46%;
        transform: scale(2.7);
    }
    .hf-img-2{
        position: absolute;
        right: -18%;
        bottom: 20%;
        transform: scale(2.7);
    }
    .hf-cont{
        height: 600px;
    }
    .hf-absolute{
        position: absolute;
        top: 2%;
        right: 26%;
        font-size: 30px !important;
        padding: 10px 10px !important;
    }
    .hf-img-11{
        position: absolute;
        left: -25%;
        top: 40%;
        transform: scale(2.4);
    }
    .hf-img-22{
        position: absolute;
        right: -25%;
        bottom: 13%;
        transform: scale(2.4);
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media(min-width:1200px) {
    .hero-section h1 {
        font-size: 255px;
    }
    .hf-img-1{
        position: absolute;
        left: -25%;
        top: 54%;
        transform: scale(2.7);
    }
    .hf-img-2{
        position: absolute;
        right: -25%;
        bottom: 13%;
        transform: scale(2.7);
    }
    .hf-img-11{
        position: absolute;
        left: -25%;
        top: 40%;
        transform: scale(2.4);
    }
    .hf-img-22{
        position: absolute;
        right: -25%;
        bottom: 13%;
        transform: scale(2.4);
    }
}
/* XXL XXL XXL XXL XXL XXL XXL XXL XXL XXL XXL XXL */
@media(min-width:1400px) {
    .hero-section h1 {
        font-size: 295px;
    }
}