@font-face {
    font-family: 'Gerhaus';
    src: url('../Font/gerhaus-vmmka.ttf');
}

@font-face {
    font-family: 'Satoshi';
    src: url('../Font/Satoshi-Variable.ttf');
}

@font-face {
    font-family: 'SF-Pro';
    src: url('../Font/SF-Pro-Text-Regular.otf');
}

@font-face {
    font-family: 'SF-SemiBold';
    src: url('../Font/SF-Compact-Text-Semibold.ttf');
}

@font-face {
    font-family: 'SF-Bold';
    src: url('../Font/SF-Pro-Text-Bold.otf');
}

@font-face {
    font-family: 'SF-Heavy';
    src: url('../Font/SF-Pro-Text-Heavy.otf');
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Header Start */

.btn-talk {
    border: none;
    width: 100px;
    padding: 5px 0px;
    background-color: #1E2976;
    transition: 0.5s;

    border: 1px solid #1E2976;
}

.btn-talk a {
    font-size: 13px;
}

.btn-talk:hover {
    background-color: white;
    border: 1px solid #1E2976;
    box-shadow: 0px 4px 15px rgba(30, 41, 118, 0.3);
    transform: translateY(-2px);
}

.btn-talk:hover a {
    color: #1E2976 !important;
}

.header-menu{
    font-size: 16px;
    font-weight: 500;
    color: #1E2976;
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.header-menu:hover {
    transform: translateY(-2px);
}

.hover-line {
    height: 2px;
    background-color: #1E2976;
    width: 0;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.header-menu:hover .hover-line {
    width: 100%;
}

/* Header End */

/* Hero Section Start  */
.hero-section {
    padding: 4rem 0;
}

.hero-section h2 {
    padding: 0;
    margin: 0;
    color: #1E2976;
    font-weight: 400;
    font-family: 'Satoshi', sans-serif;
}

.hero-section h1 {
    padding: 0;
    margin: -10px 0 0 -5px;
    color: #1E2976;
    font-weight: normal;
    font-family: 'Gerhaus', sans-serif !important;
    line-height: 0.85;
    text-align: left;
    width: 100%;
    letter-spacing: -0.02em;
}

.hero-section h3 {
    font-size: 30px;
    margin-top: 50px;
    font-family: 'SF-SemiBold';
    font-weight: 700;
}

.hero-section .info {
    gap: 0 15px;
    margin-top: 8px;
}

.hero-section .info h6:nth-child(1) {
    background-color: #E9D5FF;
    font-size: 17px;
    font-family: 'SF-SemiBold';
    padding: 9px 16px;
    border-radius: 50px;
    color: #1E2875;
}

.hero-section .info h6:nth-child(2) {
    font-family: 'SF-SemiBold';
    font-size: 20px;

}

.hero-section .info h6:nth-child(3) {
    background-color: #1E2875;
    font-size: 17px;
    font-family: 'SF-SemiBold';
    padding: 9px 16px;
    border-radius: 50px;
    color: #FFFFFF;
}

.hero-section p {
    margin-top: 6px;
    font-size: 28px;
    font-family: "SF-Bold";
}

.hero-section .arrow {
    width: 52px;
    height: 52px;
    background-color: #1E2875;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}

.hero-section .arrow i {
    color: whitesmoke;
    font-size: 18px;
}

/* Hero Section End  */

/* Service Start */

.service-container {
    background-image: url('../img/serviceimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.service-badge {
    background-color: lightgray;
    color: #1E2976;
    font-family: 'SF Pro Text';
    padding: 5px;
    font-weight: 700;
}

.service-text {
    color: rgb(1, 1, 59);
    font-family: 'SF Pro Text';
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}

.service-count {
    font-size: 50px;
    color: white;
    font-family: 'Gerhaus';
    font-weight: 900;
}

.service-title {
    font-size: 45px;
    color: white;
    font-family: 'Gerhaus';
    font-weight: 900;
    letter-spacing: 1.5px;
}

.service-description {
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: 'SF Pro Text';
}

/* Service End */
/* Application Start */

.application-title{
    color:white;
    font-family: 'Gerhaus';
    font-size: 40px;
    text-align: center;
}
.app-year{
    font-family: 'Gerhaus';
    color: white;
    font-size: 20px;
}
.app-year-no{
    color: white;
    font-size: 35px;
    font-weight: 700;
}
.app-badge{
    background-color: #1E2875;
    color: white;
    text-transform: uppercase;
    font-family: 'Satoshi';
    font-weight: 600;
    font-size: 11px;
    padding: 10px 10px;
}
.app-summary{
    font-family: 'Satoshi';
    color: white;
    line-height: 2;
    font-weight: 600;
}
.p-s{
    color: #1E2875;
    font-family: 'Gerhaus';
    padding: 15px 10px;
    background-color: white;
    font-size: 30px;
    border-radius: 25px;
    font-weight: 500;
}
.ps-description{
    padding: 20px 15px;
    background-color: #B8BCF0;
    border-radius: 20px;
}
.ps-des-inner{
    font-family: 'Satoshi';
    color: #1E2875;
    font-size: 14px;
    font-weight: 800;
    margin-bottom: 0;
    line-height: 2;
}
.p-s2{
    color: #1E2875;
    font-family: 'Gerhaus';
    padding: 15px 15px;
    background-color: white;
    font-size: 35px;
    border-radius: 25px;
    font-weight: 500;
}
.raibox{
    background-color: white;
    padding: 20px 15px;
    border-radius: 15px;
}

/* Application End */