@font-face {
    font-family: 'Gerhaus';
    src: url('../Font/gerhaus-vmmka.ttf');
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Font/SF-Pro-Text-Regular.otf');
}
@font-face {
    font-family: 'Satoshi';
    src: url('../Font/SF-Pro-Text-Semibold.otf');
}
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* Header Start */

.btn-talk{
    border: none;
    width: 100px;
    padding: 5px 0px;
}
.btn-talk a{
    font-size: 13px;
}
.header-menu{
    font-size: 16px;
    font-weight: 500;
    color: #1E2976;
}

/* Header End */

/* Hero Section Start  */
.hero-section {
    padding: 4rem 0;
}

.hero-section h2 {
    font-size: 82px;
    padding: 0;
    margin: 0;
    color: #1E2976;
    font-weight: 300;
    font-family: 'Satoshi', sans-serif;
}

.hero-section h1 {
    font-size: 340px;
    padding: 0;
    margin: -10px 0 0 -5px;
    color: #1E2976;
    font-weight: normal;
    font-family: 'Gerhaus', sans-serif !important;
    line-height: 0.85;
    text-align: left;
    width: 100%;
    letter-spacing: -0.02em;
}

.hero-section h3{
    font-size: 38px;
    font-family: 'SF-Pro';
    font-weight: 700;
}
/* Hero Section End  */

/* Service Start */

.service-badge{
    background-color: lightgray;
    color: #1E2976;
    font-family: 'SF Pro Display';
    padding: 5px;
    font-weight: 700;
}
.service-text{
    color: rgb(1, 1, 59);
    font-family: 'SF Pro Display';
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
}
.service-count{
    font-size: 50px;
    color: white;
    font-family: 'Satoshi';
    font-weight: 900;
}
.service-title{
    font-size: 50px;
    color: white;
    font-family: 'Satoshi';
    font-weight: 900;
}
.service-description{
    font-size: 23px;
    color: white;
    font-weight: 500;
    font-family: 'SF Pro Display';
    line-height: 1.8;
}

/* Service End */