/* Gerhaus Font */
@font-face {
    font-family: 'Gerhaus';
    src: url('../Font/gerhaus-vmmka.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* SF Pro Text Font */
@font-face {
    font-family: 'SF Pro Text';
    src: url('../Font/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* You can add more @font-face declarations for different weights/styles */
/* Example: If you have bold version */
/*
@font-face {
    font-family: 'Gerhaus';
    src: url('../Font/gerhaus-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*/
